<div class="home">
      <img class="vuesaxoutlinecategory-icon" loading="lazy" alt="" src="assets/vuesaxoutlinecategory.svg" />
      <a class="home1">Home</a>
      <div class="vuesaxlineartask-square-parent" (click)="onGroupContainerClick()">
        <img class="vuesaxlineartask-square-icon" loading="lazy" alt="" src="assets/vuesaxlineartasksquare.svg" />
        <div class="content">
          <div class="kanban">Kanban</div>
        </div>
      </div>
      <div class="vuesaxlinearmessage-parent" (click)="onGroupContainerClick1()">
        <img class="vuesaxlinearmessage-icon" loading="lazy" alt="" src="assets/vuesaxlinearmessage.svg" />
        <div class="content">
          <div class="mensagens">Mensagens</div>
        </div>
      </div>
      <div class="vuesaxlinearprofile-2user-parent" (click)="onGroupContainerClick2()">
        <img class="vuesaxlinearmessage-icon" loading="lazy" alt="" src="assets/vuesaxlinearprofile2user.svg" />
        <div class="content">
          <div class="equipe">Equipe</div>
        </div>
      </div>
      <img class="vuesaxlinearsetting-2-icon" loading="lazy" alt="" src="assets/vuesaxlinearsetting2.svg" />
      <div class="configuraes">Configurações</div>
      <img class="vuesaxlinearadd-square-icon" loading="lazy" alt="" src="assets/vuesaxlinearaddsquare.svg" />
      <b class="projetos">pROJETOS</b>
      <div class="project-card-parent" (click)="onGroupContainerClick3()">
        <div class="project-card" ></div>
        <div class="project-card1">
          <div class="project-avatar" ></div>
        </div>
        <div class="project-card2">
          <div class="casamento-alice-wrapper">
            <div class="casamento-alice">Casamento Alice</div>
          </div>
          <div class="project-placeholder">. . .</div>
        </div>
      </div>
      <div class="ensaio-nathalia">Ensaio Nathalia</div>
      <div class="aniversrio-infantil">Aniversário Infantil</div>
      <div class="campanha-ccr">Campanha CCR</div>
      <div class="ol-maia">Olá, Maia</div>
      <img class="vuesaxbulklamp-on-icon" loading="lazy" alt="" src="assets/vuesaxbulklampon.svg" /><notification-panel [union]="'assets/union.svg'"> </notification-panel>
      <main class="floating-action-button">
        <img class="button-icon" loading="lazy" alt="" src="assets/vector-1.svg" />
        <img class="button-icons" alt="" src="assets/button-icons.svg" />
        <img class="button-icons1" loading="lazy" alt="" src="assets/vector-8.svg" />
        <div class="button-icons2" ></div>
        <div class="button-icons3" ></div>
        <div class="button-icons4" ></div>
        <img class="floating-action-button-child" loading="lazy" alt="" src="assets/group-7.svg" />
        <div class="close-button">
          <div class="close-button-background" ></div>
          <img class="close-24dp-000000-fill0-wght40-icon" loading="lazy" alt="" src="assets/close-24dp-000000-fill0-wght400-grad0-opsz24-1@2x.png" (click)="onClose24dp000000FILL0Wght40ImageClick()" />
        </div>
      </main>
      <div class="home-child" ></div>
      <h1 class="ol-maia-seja-container">
        <span class="ol-maia-seja-container1">
          <p class="ol-maia-seja">Olá Maia, seja </p>
          <p class="ol-maia-seja">bem vindo!</p>
        </span>
      </h1>
    </div>