<div class="facebook-login">
      <div class="platform-access">
        <h2 class="acesse-a-plantaforma">Acesse a plantaforma</h2>
        <div class="login-instructions">
          <div class="faa-o-login">Faça o login utilizando uma de suas redes sociais e aproveite o melhor da organização na sua equipe.</div>
        </div>
      </div>
      <div class="social-buttons"><continue-with-facebook-centr>  </continue-with-facebook-centr>
      </div>
      <div class="social-buttons1"><continue-with-google-centre>  </continue-with-google-centre>
      </div>
      <div class="social-buttons2"><continue-with-apple-centre>  </continue-with-apple-centre>
      </div>
      <div class="signup">
        <div class="no-tem-redes-container" (click)="onNoTemRedesClick()">
          <span>
            <span>Não tem redes sociais? </span>
            <b class="inscreva-se-aqui">Inscreva-se aqui</b>
          </span>
        </div>
      </div>
    </div>