<div class="in-progress1"><board-header [toDo]="'In Progress'" [toDoMargin]="'0'" [toDoTextDecoration]="'unset'" [toDoDisplay]="'unset'" [toDoMinWidth]="'unset'"> </board-header>
      <div class="task2">
        <div class="image2" ></div>
        <div class="content4">
          <div class="description">
            <div class="finalize-presentation-deck">Finalize presentation deck.</div>
            <div class="deck-theme-as-container">
              <ul class="deck-theme-as-per-brand-guidel">
                <li class="deck-theme-as">Deck theme as per brand guidelines.</li>
                    <li class="deck-theme-as">Limit to 12 slides.</li>
                        <li class="deck-theme-as">Use images from image bank only.</li>
                            <li>Divide amongst presenters. (Not more than two.)</li>
              </ul>
            </div>
          </div>
          <div class="due-date">
            <img class="calendar-icon2" loading="lazy" alt="" src="assets/calendar-icon.svg" />
            <div class="date">
              <div class="sep-27-2021">Sep 27, 2021</div>
            </div>
          </div><progress-bar [progress]="'50%'" [progressBarWidth]="'155px'"> </progress-bar>
        </div>
        <div class="assignee">
          <img class="emoji-reaction-icon2" loading="lazy" alt="" src="assets/emoji-reaction-2@2x.png" />
          <img class="assigned-to-icon2" loading="lazy" alt="" src="assets/assigned-to-2.svg" />
        </div>
      </div>
      <div class="note2">
        <div class="upcoming-performance-reviews-container">
          <p class="upcoming-performance-reviews">Upcoming performance reviews:</p>
          <p class="upcoming-performance-reviews">&nbsp;</p>
          <ul class="jacob-aubrey-devon-postpo">
            <li class="deck-theme-as">
              <span>Jacob ✓</span>
            </li>
                <li class="deck-theme-as">
                  <span>Aubrey ✓</span>
                </li>
                    <li class="deck-theme-as">
                      <span>Devon </span>
                        <i class="postponed">(Postponed!)</i>
                    </li>
                        <li class="deck-theme-as">
                          <span class="postponed">Katie</span>
                        </li>
                            <li class="deck-theme-as">
                              <span class="postponed">Bassam</span>
                            </li>
                                <li>
                                  <span class="postponed">Gerald</span>
                                </li>
          </ul>
        </div>
      </div>
    </div>