<div class="equipe1">
      <div class="equipe-inner">
        <div class="frame-child" ></div>
      </div>
      <main class="frame-parent">
        <section class="vuesaxbulklamp-on-parent">
          <img class="vuesaxbulklamp-on-icon1" loading="lazy" alt="" src="assets/vuesaxbulklampon.svg" />
          <div class="frame-group">
            <div class="rectangle-parent">
              <div class="frame-item" ></div>
              <img class="vuesaxlinearprofile-2user-icon1" loading="lazy" alt="" src="assets/vuesaxlinearprofile2user.svg" />
              <div class="equipe2">Equipe</div>
            </div>
            <img class="frame-inner" loading="lazy" alt="" src="assets/vector-1.svg" />
            <img class="profile-icons" alt="" src="assets/button-icons.svg" />
            <img class="profile-icons1" loading="lazy" alt="" src="assets/vector-8.svg" />
            <div class="profile-icons2" ></div>
            <div class="profile-icons3" ></div>
            <div class="profile-icons4" ></div>
            <img class="group-icon" loading="lazy" alt="" src="assets/group-7.svg" />
          </div>
        </section>
        <section class="frame-wrapper">
          <div class="frame-container">
            <div class="frame-div">
              <div class="frame-parent1">
                <div class="frame-wrapper1">
                  <div class="frame-parent2">
                    <div class="ol-maia-wrapper">
                      <div class="ol-maia1">Olá, Maia</div>
                    </div>
                    <div class="frame-parent3">
                      <div class="vuesaxoutlinecategory-parent">
                        <img class="vuesaxoutlinecategory-icon1" loading="lazy" alt="" src="assets/vuesaxoutlinecategory.svg" />
                        <img class="vuesaxoutlinecategory-icon1" loading="lazy" alt="" src="assets/vuesaxlinearmessage.svg" />
                        <img class="vuesaxoutlinecategory-icon1" loading="lazy" alt="" src="assets/vuesaxlineartasksquare.svg" />
                      </div>
                      <div class="frame-wrapper2">
                        <div class="home-parent">
                          <div class="home2">Home</div>
                          <div class="mensagens1">Mensagens</div>
                          <div class="kanban1">Kanban</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <header class="frame-header">
                  <div class="equipe-container">
                    <h1 class="equipe3">Equipe</h1>
                  </div>
                  <div class="ellipse-parent">
                    <div class="ellipse-div" (click)="onEllipseClick()" ></div>
                    <img class="arrow-icon" loading="lazy" alt="" src="assets/arrow-1.svg" />
                  </div>
                </header>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="frame-wrapper3">
                <div class="vuesaxlinearsetting-2-parent">
                  <img class="vuesaxlinearsetting-2-icon1" loading="lazy" alt="" src="assets/vuesaxlinearsetting2.svg" />
                  <div class="configuraes-wrapper">
                    <div class="configuraes1">Configurações</div>
                  </div>
                </div>
              </div><projects [union]="'assets/union.svg'"> </projects>
            </div>
          </div>
        </section>
      </main>
    </div>