<div class="to-do1"><board-header [toDo]="'To Do'"> </board-header>
      <div class="task">
        <img class="image-icon" loading="lazy" alt="" src="assets/image@2x.png" />
        <div class="add-a-short-container">
          <span>Add a short description or </span>
          <a class="link" href="https://figma.com" target="_blank">
            <span class="link1">link</span>
          </a>
          <span> a web page.</span>
        </div>
        <div class="progress-bar-type">
          <div class="gear-up-bar">
            <div class="gear-up-for">Gear up for Mt. Fuji!</div>
            <div class="gearup-calendar">
              <img class="calendar-icon" loading="lazy" alt="" src="assets/calendar-icon.svg" />
              <div class="gear-up-sep">
                <div class="sep-30-2021">Sep 30, 2021</div>
              </div>
            </div><progress-bar [progress]="'25%'" [progressBarWidth]="'77.5px'"> </progress-bar>
          </div>
          <div class="gear-up-assigned">
            <img class="emoji-reaction-icon" loading="lazy" alt="" src="assets/emoji-reaction@2x.png" />
            <img class="assigned-to-icon" loading="lazy" alt="" src="assets/assigned-to.svg" />
          </div>
        </div>
      </div>
      <div class="note">
        <div class="shopping-list-milk-container">
          <p class="shopping-list">Shopping list:</p>
          <p class="shopping-list">&nbsp;</p>
          <ul class="milk-eggs-bread-soda-chips">
            <li class="milk">Milk</li>
                <li class="milk">Eggs</li>
                    <li class="milk">Bread</li>
                        <li class="milk">Soda</li>
                            <li>Chips</li>
          </ul>
        </div>
      </div>
      <div class="task1">
        <div class="image1" ></div>
        <div class="draft-content">
          <div class="draft-onboarding-documentation">Draft onboarding documentation for design team.</div>
          <div class="draft-reference">
            <div class="refer-documentation-templates">Refer documentation templates from company wiki.</div>
            <div class="gearup-calendar">
              <img class="calendar-icon" loading="lazy" alt="" src="assets/calendar-icon.svg" />
              <div class="gear-up-sep">
                <div class="sep-26-2021">Sep 26, 2021</div>
              </div>
            </div><progress-bar [progress]="'25%'" [progressBarWidth]="'77.5px'"> </progress-bar>
          </div>
        </div>
        <div class="moodboard-content">
          <img class="emoji-reaction-icon" loading="lazy" alt="" src="assets/emoji-reaction-1@2x.png" />
          <img class="assigned-to-icon" loading="lazy" alt="" src="assets/assigned-to.svg" />
        </div>
      </div>
      <textarea class="note1" placeholder="Call aunt Edna ASAP!

Rory’s library books are overdue.
Millie’s dentist appointment is cancelled." rows="4" cols="17" ></textarea>
    </div>