<div class="kanban3">
      <main class="bulk-actions">
        <img class="vuesaxbulklamp-on-icon3" loading="lazy" alt="" src="assets/vuesaxbulklampon.svg" />
        <section class="icon-row">
          <div class="rectangle-container">
            <div class="frame-child1" ></div>
            <img class="vuesaxlineartask-square-icon3" loading="lazy" alt="" src="assets/vuesaxlineartasksquare.svg" />
            <div class="kanban4">Kanban</div>
          </div>
          <img class="icon-row-child" loading="lazy" alt="" src="assets/vector-1.svg" />
          <img class="icon-row-item" alt="" src="assets/button-icons.svg" />
          <img class="icon-row-inner" alt="" src="assets/vector-8.svg" />
          <div class="icon-row-child1" ></div>
          <div class="icon-row-child2" ></div>
          <div class="icon-row-child3" ></div>
          <img class="icon-row-child4" loading="lazy" alt="" src="assets/group-7.svg" />
          <div class="ellipse-group">
            <div class="frame-child2" (click)="onEllipseClick()" ></div>
            <img class="frame-child3" loading="lazy" alt="" src="assets/arrow-1.svg" />
          </div>
        </section>
      </main>
      <div class="user-header">
        <div class="user-kanban">
          <div class="ol-maia-container">
            <a class="ol-maia3">Olá, Maia</a>
          </div>
          <h1 class="kanban5">Kanban</h1>
        </div>
      </div>
      <div class="board-header">
        <div class="sidebar">
          <div class="menu">
            <div class="icons">
              <div class="navigation">
                <img class="vuesaxoutlinecategory-icon3" loading="lazy" alt="" src="assets/vuesaxoutlinecategory.svg" />
                <div class="labels">
                  <a class="home4">Home</a>
                </div>
              </div>
              <div class="navigation">
                <img class="vuesaxoutlinecategory-icon3" loading="lazy" alt="" src="assets/vuesaxlinearmessage.svg" />
                <div class="labels">
                  <div class="mensagens3">Mensagens</div>
                </div>
              </div>
            </div>
          </div>
          <div class="settings">
            <div class="gear">
              <div class="icons">
                <div class="button">
                  <div class="navigation">
                    <img class="vuesaxoutlinecategory-icon3" loading="lazy" alt="" src="assets/vuesaxlinearprofile2user.svg" />
                    <div class="labels">
                      <div class="equipe5">Equipe</div>
                    </div>
                  </div>
                </div>
                <div class="config">
                  <img class="vuesaxoutlinecategory-icon3" loading="lazy" alt="" src="assets/vuesaxlinearsetting2.svg" />
                  <div class="labels">
                    <div class="configuraes3">Configurações</div>
                  </div>
                </div>
              </div>
            </div><projects [union]="'assets/union.svg'"> </projects>
          </div>
        </div>
        <div class="to-do-header"><to-do>  </to-do>
        </div>
        <div class="to-do-header"><in-progress>  </in-progress>
        </div>
        <div class="to-do-header1"><done>  </done>
        </div>
      </div>
    </div>