<div class="casamento-alice1">
      <img class="vuesaxoutlinecategory-icon2" loading="lazy" alt="" src="assets/vuesaxoutlinecategory.svg" />
      <a class="home3">Home</a>
      <img class="vuesaxlineartask-square-icon2" loading="lazy" alt="" src="assets/vuesaxlineartasksquare.svg" />
      <div class="kanban2">Kanban</div>
      <img class="vuesaxlinearmessage-icon2" loading="lazy" alt="" src="assets/vuesaxlinearmessage.svg" />
      <div class="mensagens2">Mensagens</div>
      <img class="vuesaxlinearprofile-2user-icon2" loading="lazy" alt="" src="assets/vuesaxlinearprofile2user.svg" />
      <div class="equipe4">Equipe</div>
      <img class="vuesaxlinearsetting-2-icon2" loading="lazy" alt="" src="assets/vuesaxlinearsetting2.svg" />
      <div class="configuraes2">Configurações</div>
      <img class="vuesaxlinearadd-square-icon1" loading="lazy" alt="" src="assets/vuesaxlinearaddsquare.svg" />
      <b class="projetos1">pROJETOS</b>
      <div class="rectangle-group">
        <div class="rectangle-div" ></div>
        <div class="thumbnail">
          <div class="thumbnail-child" ></div>
        </div>
        <div class="frame-parent5">
          <div class="casamento-alice-container">
            <div class="casamento-alice2">Casamento Alice</div>
          </div>
          <div class="project-description">. . .</div>
        </div>
      </div>
      <div class="ensaio-nathalia1">Ensaio Nathalia</div>
      <div class="aniversrio-infantil1">Aniversário Infantil</div>
      <div class="campanha-ccr1">Campanha CCR</div>
      <div class="ol-maia2">Olá, Maia</div>
      <img class="vuesaxbulklamp-on-icon2" alt="" src="assets/vuesaxbulklampon.svg" /><notification-panel [union]="'assets/union.svg'"> </notification-panel>
      <main class="project-info">
        <img class="project-icon" loading="lazy" alt="" src="assets/vector-1.svg" />
        <img class="project-status-icon" alt="" src="assets/button-icons.svg" />
        <img class="project-status-icon1" loading="lazy" alt="" src="assets/vector-8.svg" />
        <div class="project-status" ></div>
        <div class="project-status1" ></div>
        <div class="project-status2" ></div>
        <img class="project-info-child" loading="lazy" alt="" src="assets/group-7.svg" />
        <div class="action-button">
          <div class="action-icon" (click)="onActionIconClick()" ></div>
          <img class="action-button-child" loading="lazy" alt="" src="assets/arrow-1.svg" (click)="onActionIconClick()" />
        </div>
        <div class="info">
          <div class="content1">
            <h3 class="title">Este é o serviço da Alice</h3>
            <div class="edite-aqui-e-container">
              <p class="edite-aqui-e">Edite aqui e descreva o que é...</p>
              <p class="blank-line">&nbsp;</p>
              <p class="blank-line">&nbsp;</p>
              <p class="blank-line2">&nbsp;</p>
            </div>
          </div>
          <div class="info-follow">
            <div class="follow">
              <b class="subtitle">Adicione documentos abaixo: (PDF,PNG,JPEG)</b>
              <div class="follow-body-container-wrapper">
                <div class="follow-body-container">
                  <div class="body">Clique aqui e adicione</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <h1 class="projetos2">Projetos</h1>
      <div class="image-7-wrapper">
        <img class="image-7-icon" loading="lazy" alt="" src="assets/image-7@2x.png" />
      </div>
    </div>