<div class="projects">
      <div class="list">
        <div class="new-project">
          <div class="header">
            <div class="title1">
              <b class="projetos4">pROJETOS</b>
              <img class="vuesaxlinearadd-square-icon3" loading="lazy" alt="" src="assets/vuesaxlinearaddsquare.svg" />
            </div>
          </div>
          <div class="background-group">
            <div class="background1" ></div>
            <div class="circle">
              <div class="dot" ></div>
            </div>
            <div class="details">
              <div class="name">
                <div class="casamento-alice4">Casamento Alice</div>
              </div>
              <div class="empty">. . .</div>
            </div>
          </div>
          <div class="nathalia">
            <div class="ensaio-nathalia3">Ensaio Nathalia</div>
          </div>
        </div>
        <div class="birthday">
          <div class="ensaio-nathalia3">Aniversário Infantil</div>
        </div>
        <div class="nathalia">
          <div class="campanha-ccr3">Campanha CCR</div>
        </div>
      </div>
      <div class="notification">
        <div class="icon-container">
          <img class="union-icon1" alt="" [src]="union" />
          <div class="red-dot" ></div>
        </div>
        <div class="message">
          <div class="content3">
            <div class="nova-notificao1">Nova notificação</div>
          </div>
          <div class="kauan-acabou-de1">Kauan acabou de atribuir uma nova tarefa no projeto “Casamento Alice”</div>
        </div>
        <div class="action">
          <div class="action-child" ></div>
          <div class="responder-mensagem1">Responder mensagem</div>
        </div>
      </div>
    </div>