<div class="rectangle-parent4">
      <div class="frame-child10" ></div>
      <div class="people">
        <h3 class="pessoas">Pessoas</h3>
      </div>
      <div class="people-list">
        <div class="chat-list1">
          <img class="chat-item-icon" loading="lazy" alt="" src="assets/ellipse-6@2x.png" />
          <img class="chat-item-icon" loading="lazy" alt="" src="assets/ellipse-8@2x.png" />
          <img class="chat-item-icon2" loading="lazy" alt="" src="assets/ellipse-7@2x.png" />
          <div class="chat-item1">
            <img class="chat-status-icon" loading="lazy" alt="" src="assets/ellipse-9@2x.png" />
          </div>
          <div class="chat-item1">
            <img class="chat-status-icon" loading="lazy" alt="" src="assets/ellipse-10@2x.png" />
          </div>
        </div>
        <div class="chat">
          <div class="chat-content1">
            <div class="chat-details">
              <div class="chat-users">
                <div class="user-pair">
                  <div class="user-names">
                    <div class="anil1">Anil</div>
                    <div class="april-fools-day">April fool’s day</div>
                  </div>
                </div>
                <div class="user-pair1">
                  <div class="user-names">
                    <div class="chuuthiya">Chuuthiya</div>
                    <div class="baag">Baag</div>
                  </div>
                </div>
                <div class="chat-preview">
                  <div class="mary-maam">Mary ma’am</div>
                  <div class="preview-detail">
                    <div class="you-have-to">You have to report it...</div>
                  </div>
                </div>
                <div class="last-chat">
                  <div class="bill-gates">Bill Gates</div>
                  <div class="nevermind-bro">Nevermind bro</div>
                </div>
                <div class="victoria-h">Victoria H</div>
              </div>
              <div class="chat-time-wrapper">
                <div class="chat-time">
                  <div class="time-items-wrapper">
                    <div class="time-items">
                      <div class="today-952pm">Today, 9.52pm</div>
                      <div class="delivery-status">
                        <img class="charmtick-double-icon" loading="lazy" alt="" src="assets/charmtickdouble.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="chat-time-inner">
                    <div class="today-1211pm-parent">
                      <div class="today-1211pm">Today, 12.11pm</div>
                      <div class="phnumber-circle-one-fill-wrapper">
                        <img class="phnumber-circle-one-fill-icon" loading="lazy" alt="" src="assets/phnumbercircleonefill.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="chat-time-child">
                    <div class="today-240pm-parent">
                      <div class="today-1211pm">Today, 2.40pm</div>
                      <div class="phnumber-circle-one-fill-container">
                        <img class="phnumber-circle-one-fill-icon" loading="lazy" alt="" src="assets/phnumbercircleonefill.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="chat-time-inner1">
                    <div class="yesterday-1231pm-parent">
                      <div class="yesterday-1231pm">Yesterday, 12.31pm</div>
                      <div class="phnumber-circle-five-fill-wrapper">
                        <img class="phnumber-circle-one-fill-icon" loading="lazy" alt="" src="assets/phnumbercirclefivefill.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="wednesday-1112am">Wednesday, 11.12am</div>
                </div>
              </div>
            </div>
            <div class="confirmation">
              <div class="confirmation-message">
                <div class="you-have-to">Okay, brother. let’s see...</div>
              </div>
              <img class="charmtick-double-icon1" loading="lazy" alt="" src="assets/charmtickdouble-1.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>