<div class="mensagens4">
      <img class="vuesaxoutlinecategory-icon4" loading="lazy" alt="" src="assets/vuesaxoutlinecategory.svg" />
      <a class="home5">Home</a>
      <img class="vuesaxlineartask-square-icon4" loading="lazy" alt="" src="assets/vuesaxlineartasksquare.svg" />
      <div class="kanban6">Kanban</div>
      <img class="vuesaxlinearprofile-2user-icon4" loading="lazy" alt="" src="assets/vuesaxlinearprofile2user.svg" />
      <div class="equipe6">Equipe</div>
      <img class="vuesaxlinearsetting-2-icon4" loading="lazy" alt="" src="assets/vuesaxlinearsetting2.svg" />
      <div class="configuraes4">Configurações</div>
      <img class="vuesaxlinearadd-square-icon2" loading="lazy" alt="" src="assets/vuesaxlinearaddsquare.svg" />
      <b class="projetos3">pROJETOS</b>
      <div class="content2">
        <div class="background-parent">
          <div class="background" ></div>
          <div class="card-content">
            <div class="image" ></div>
          </div>
          <div class="card-title">
            <div class="project-name">
              <div class="casamento-alice3">Casamento Alice</div>
            </div>
            <div class="placeholder">. . .</div>
          </div>
        </div>
        <div class="grid">
          <div class="grid-item">
            <div class="image-grid">
              <div class="image-row">
                <div class="gallery" ></div>
                <div class="gallery1" ></div>
                <div class="gallery2" ></div>
              </div>
            </div>
            <div class="image-caption">
              <div class="ensaio-nathalia2">Ensaio Nathalia</div>
              <div class="ensaio-nathalia2">Aniversário Infantil</div>
              <div class="campanha-ccr2">Campanha CCR</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ol-maia4">Olá, Maia</div>
      <img class="vuesaxbulklamp-on-icon4" loading="lazy" alt="" src="assets/vuesaxbulklampon.svg" />
      <img class="vuesaxbulklamp-on-icon5" alt="" src="assets/vuesaxbulklampon.svg" /><notification-panel [union]="'assets/union.svg'"> </notification-panel>
      <main class="chat-input">
        <div class="group-div">
          <div class="frame-child4" ></div>
          <img class="vuesaxlinearmessage-icon4" loading="lazy" alt="" src="assets/vuesaxlinearmessage.svg" />
          <div class="mensagens5">Mensagens</div>
        </div>
        <img class="send-button-icon" loading="lazy" alt="" src="assets/vector-1.svg" />
        <img class="input-decoration-icon" alt="" src="assets/button-icons.svg" />
        <img class="input-decoration-icon1" loading="lazy" alt="" src="assets/vector-8.svg" />
        <img class="chat-input-child" loading="lazy" alt="" src="assets/group-7.svg" />
        <div class="voice-input">
          <div class="record-button" (click)="onRecordButtonClick()" ></div>
          <img class="voice-input-child" alt="" src="assets/arrow-1.svg" />
        </div>
      </main><user-avatar>  </user-avatar>
      <div class="search">
        <div class="search-child" ></div>
        <img class="bxsearch-icon" alt="" src="assets/bxsearch.svg" />
        <div class="search-placeholder">
          <div class="procurar">Procurar</div>
        </div>
      </div><frame-component>  </frame-component>
      <h1 class="mensagens6">Mensagens</h1>
      <div class="rectangle-parent1">
        <div class="frame-child5" ></div>
        <div class="notifications">
          <h3 class="notificaes">Notificações</h3>
        </div>
        <img class="notifications-24dp-000000-fill-icon" loading="lazy" alt="" src="assets/notifications-24dp-000000-fill0-wght400-grad0-opsz24-1@2x.png" />
      </div>
    </div>