<div class="notification-panel">
      <div class="notification-avatar">
        <img class="union-icon" alt="" [src]="union" />
        <div class="user-avatar" ></div>
      </div>
      <div class="notification-content">
        <div class="notification-title">
          <div class="nova-notificao">Nova notificação</div>
        </div>
        <div class="kauan-acabou-de">Kauan acabou de atribuir uma nova tarefa no projeto “Casamento Alice”</div>
      </div>
      <div class="notification-action">
        <div class="notification-action-child" ></div>
        <div class="responder-mensagem">Responder mensagem</div>
      </div>
    </div>