<div class="social-login">
      <div class="social-login-child" ></div>
      <div class="guest-login">
        <div class="login-form">
          <div class="registration-button">
            <h3 class="cadastra-se-aqui">CADASTRA-SE AQUI</h3>
          </div>
          <div class="name-input">
            <div class="name-input-child" ></div>
            <div class="full-name-field">
              <img class="full-name-placeholder" alt="" src="assets/full-name-placeholder.svg" />
            </div>
            <div class="nome-completo">Nome completo</div>
          </div>
          <div class="name-input1">
            <div class="name-input-child" ></div>
            <div class="vector-wrapper">
              <img class="vector-icon" alt="" src="assets/vector-11.svg" />
            </div>
            <div class="nome-completo">Celular ou e-mail</div>
          </div>
          <div class="name-input2">
            <div class="name-input-child" ></div>
            <img class="vector-icon1" alt="" src="assets/vector-2.svg" />
            <input class="frame-input" placeholder="Senha" type="text" />
          </div>
        </div>
      </div>
      <div class="personal-info">
        <div class="birth-date">
          <b class="data-de-nascimento">Data de nascimento:</b>
          <div class="date-dropdown">
            <div class="months">
              <div class="month-option">
                <div class="month-option-child" ></div>
                <div class="january-option">6</div>
                <div class="month-values">
                  <img class="month-value-icon" alt="" src="assets/vector-3.svg" />
                </div>
              </div>
              <div class="month-option1">
                <div class="month-option-item" ></div>
                <div class="janeiro">Janeiro</div>
                <div class="vector-container">
                  <img class="month-value-icon" alt="" src="assets/vector-4.svg" />
                </div>
              </div>
              <div class="month-option2">
                <div class="month-option-inner" ></div>
                <div class="janeiro">2023</div>
                <div class="vector-container">
                  <img class="vector-icon3" alt="" src="assets/vector-5.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gender-options-wrapper">
        <div class="gender-options">
          <b class="data-de-nascimento">Gênero:</b>
          <div class="gender-selection">
            <div class="gender-labels">
              <div class="gender-labels-child" ></div>
              <div class="f">F</div>
              <input class="gender-icons" type="text" />
            </div>
            <div class="gender-labels1">
              <div class="gender-labels-child" ></div>
              <div class="janeiro">M</div>
              <div class="gender-labels-inner">
                <div class="frame-child6" ></div>
              </div>
            </div>
            <div class="gender-labels2">
              <div class="month-option-inner" ></div>
              <input class="outro" placeholder="Outro" type="text" />
              <div class="full-name-field">
                <div class="frame-child7" ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="as-pessoas-que-container">
        <p class="as-pessoas-que-usam-nosso-serv">As pessoas que usam nosso serviço podem ter carregado suas informações de contato no Medium. 
          <a class="saiba-mais" href="https://pt-br.facebook.com/help/637205020878504" target="_blank">
            <span class="saiba-mais1">Saiba mais</span>
          </a>.
        </p>
        <p class="as-pessoas-que-usam-nosso-serv">&nbsp;</p>
        <p class="as-pessoas-que-usam-nosso-serv">Ao clicar em Cadastre-se, você concorda com nossos 
          <a class="saiba-mais" href="https://pt-br.facebook.com/legal/terms/update" target="_blank">
            <span class="saiba-mais1">Termos</span>
          </a>, 
            <a class="saiba-mais" href="https://pt-br.facebook.com/about/privacy/update" target="_blank">
              <span class="saiba-mais1">Política de Privacidade</span>
            </a> e 
              <a class="saiba-mais" href="https://pt-br.facebook.com/policies/cookies/" target="_blank">
                <span class="saiba-mais1">Política de Cookies</span>
              </a>. Você poderá receber notificações por SMS e cancelar isso quando quiser.
        </p>
      </div>
      <div class="submit-button">
        <div class="submit-area">
          <div class="submit-background" (click)="onSubmitBackgroundClick()" ></div>
          <b class="cadastra-se">CADASTRA-SE</b>
        </div>
      </div>
    </div>