<div class="done"><board-header [toDo]="'Done'" [toDoMargin]="'unset'" [toDoTextDecoration]="'none'" [toDoDisplay]="'inline-block'" [toDoMinWidth]="'63px'"> </board-header>
      <div class="task3">
        <div class="image3" ></div>
        <div class="task-image-content-parent">
          <div class="task-image-content">
            <div class="progress-content">
              <div class="progress-meeting-with">Progress meeting with Jason.</div>
              <div class="take-notes-ask">Take notes. Ask questions after.</div>
            </div>
            <div class="calendar-icon-parent">
              <img class="calendar-icon3" loading="lazy" alt="" src="assets/calendar-icon.svg" />
              <div class="sep-25-2021-wrapper">
                <div class="sep-25-2021">Sep 25, 2021</div>
              </div>
            </div>
          </div>
          <div class="emoji-reaction-parent">
            <img class="emoji-reaction-icon3" loading="lazy" alt="" src="assets/emoji-reaction-1@2x.png" />
            <img class="assigned-to-icon3" loading="lazy" alt="" src="assets/assigned-to-3.svg" />
          </div>
        </div><progress-bar [progress]="'100%'"> </progress-bar>
      </div>
      <div class="note3">
        <div class="log-in-extra-hours-container">
          <p class="log-in-extra-hours">Log-in extra hours on company portal.</p>
          <p class="refer-your-personal-notion-dat">
              <span class="refer-your-personal">Refer your personal </span>
            <a class="notion" href="https://notion.so" target="_blank">
              <span class="notion1">Notion</span>
            </a>
              <span class="refer-your-personal"> database for hours worked.</span>
          </p>
        </div>
      </div>
      <div class="task3">
        <img class="image-icon1" loading="lazy" alt="" src="assets/image-1@2x.png" />
        <div class="frame-parent6">
          <div class="update-travel-mood-board-with-parent">
            <div class="progress-meeting-with">Update travel mood-board with pics.</div>
            <div class="moodboard-link">
              <div class="link-here">
                <span>Link </span>
                <a class="here" href="https://unsplash.com/s/photos/japan" target="_blank">
                  <span class="notion1">here</span>
                </a>
                <span>.</span>
              </div>
              <div class="calendar-icon-parent">
                <img class="calendar-icon3" loading="lazy" alt="" src="assets/calendar-icon.svg" />
                <div class="sep-25-2021-wrapper">
                  <div class="sep-25-2021">Sep 25, 2021</div>
                </div>
              </div>
            </div>
          </div>
          <div class="emoji-reaction-group">
            <img class="emoji-reaction-icon3" loading="lazy" alt="" src="assets/emoji-reaction@2x.png" />
            <img class="assigned-to-icon4" loading="lazy" alt="" src="assets/assigned-to.svg" />
          </div>
        </div><progress-bar [progress]="'100%'" [progressBarWidth]="'310px'"> </progress-bar>
      </div>
      <div class="task5">
        <div class="image3" ></div>
        <div class="add-a-short-container1">
          <span>Add a short description or </span>
          <a class="here" href="https://figma.com" target="_blank">
            <span class="notion1">link</span>
          </a>
          <span> a web page.</span>
        </div>
        <div class="delegate-tasks-parent">
          <div class="delegate-tasks">
            <div class="delegate-tasks-for">Delegate tasks for next week.</div>
            <img class="emoji-reaction-icon5" loading="lazy" alt="" src="assets/emoji-reaction@2x.png" />
          </div>
          <div class="edna-calendar">
            <div class="edna-date">
              <div class="calendar-icon-group">
                <img class="calendar-icon3" alt="" src="assets/calendar-icon.svg" />
                <div class="sep-25-2021-wrapper">
                  <div class="sep-26-20211">Sep 26, 2021</div>
                </div>
              </div>
            </div>
            <img class="assigned-to-icon5" alt="" src="assets/assigned-to-5.svg" />
          </div>
        </div><progress-bar [progress]="'100%'" [progressBarWidth]="'310px'"> </progress-bar>
      </div>
      <div class="task3">
        <div class="image5" ></div>
        <div class="progress-content">
          <div class="update-figma">
            <div class="update-figma-dev-team">Update Figma dev-team file by Monday!</div>
            <img class="emoji-reaction-icon5" alt="" src="assets/emoji-reaction-1@2x.png" />
          </div>
          <div class="aubrey-to-edit-container">
            <p class="log-in-extra-hours">Aubrey to edit pages 2 to 14, Katie to assist if needed.</p>
            <p class="log-in-extra-hours">&nbsp;</p>
            <p class="log-in-extra-hours">Ps: Grant access to Katie.</p>
          </div>
        </div>
        <div class="edna-calendar">
          <div class="edna-date">
            <div class="calendar-icon-group">
              <img class="calendar-icon3" alt="" src="assets/calendar-icon.svg" />
              <div class="sep-25-2021-wrapper">
                <div class="sep-26-20211">Sep 22, 2021</div>
              </div>
            </div>
          </div>
          <img class="assigned-to-icon5" alt="" src="assets/assigned-to-6.svg" />
        </div><progress-bar [progress]="'100%'" [progressBarWidth]="'310px'"> </progress-bar>
      </div>
    </div>